venv/
__pycache__/
*.pyc

models/*.pkl

data/raw/*
!data/raw/.gitkeep

data/cleaned/*
!data/cleaned/.gitkeep

data/processed/*
!data/processed/.gitkeep

.streamlit/

.ipynb_checkpoints/

.DS_Store
Thumbs.db